.photo {
margin-left: 500px;} 
.section-title{
margin-left: 540px;
font-size:30px; 
text-decoration:underline;
}
.company{height: 5px;
text-decoration:underline;
font-weight:bold;}

.location{ position:absolute;
right: 10px;}
.date{
	position:absolute;
	right:30px;
	display: inline;
	
}
.school {
	display: inline;
}

body{
font-size: 22px;
background-color:#E3EDD8;
border:5px;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif}

.job{font-weight:bold;
display:inline;}

.content{margin-left: 30px;}

.grad{font-style:italic;}